<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<!-- account -->
		<typeAlias type="com.kh.onepart.account.model.vo.ResidentVO" alias="ResidentVO" />



		<!-- resident -->
		<typeAlias type="com.kh.onepart.resident.warm.open_chatting.model.vo.OpenChatVO" alias="OpenChatVO" />
		<typeAlias type="com.kh.onepart.resident.warm.open_chatting.model.vo.OpenChatMemberVO" alias="OpenChatMemberVO" />
		<typeAlias type="com.kh.onepart.resident.warm.open_chatting.model.vo.OpenChatCommVO" alias="OpenChatCommVO" />

		<typeAlias type="com.kh.onepart.resident.my_home.my_car.model.vo.MyCar" alias="MyCar" />
		<typeAlias type="com.kh.onepart.resident.convenience.reservate_facility.model.vo.Reservation" alias="reservation" />
		<typeAlias type="com.kh.onepart.resident.convenience.reservate_facility.model.vo.FacReservation" alias="facReservation" />
		<typeAlias type="com.kh.onepart.resident.convenience.reservate_facility.model.vo.FacSeatInfo" alias="facSeatInfo" />



		<!-- Manager -->
		<typeAlias type="com.kh.onepart.manager.survey.model.vo.SurveyVO" alias="SurveyVO"/>
		<typeAlias type="com.kh.onepart.manager.survey.model.vo.RequestSurveyVO" alias="RequestSurveyVO"/>
		<typeAlias type="com.kh.onepart.manager.survey.model.vo.RequestSurveyQstn" alias="RequestSurveyQstn"/>
    	<typeAlias type="com.kh.onepart.manager.facility.model.vo.Reservation" alias="manager_reservation"/>
    	<typeAlias type="com.kh.onepart.manager.facility.model.vo.FacReservation" alias="manager_facReservation"/>
    	<typeAlias type="com.kh.onepart.manager.facility.model.vo.Image" alias="manager_img"/>
	</typeAliases>

	<mappers>
		<!-- account -->
		<mapper resource="mappers/account/account-mapper.xml" />



		<!-- resident -->
		<mapper resource="mappers/openChat/openChat-mapper.xml" />
		<mapper resource="mappers/myCar/myCar-mapper.xml" />
		<mapper resource="mappers/openChat/openChatMember-mapper.xml" />
		<mapper resource="mappers/openChat/openChatComm-mapper.xml" />
		<mapper resource="mappers/reservation/reservation-mapper.xml" />



		<!-- Manager -->
		<mapper resource="mappers/manager/survey/manager-survey-mapper.xml" />
		<mapper resource="mappers/manager/Faclilty/manager-faclilty-mapper.xml" />
	</mappers>
</configuration>
