<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Account">

	<resultMap type="com.kh.onepart.account.model.vo.ResidentVO" id="residentVOResultSet">
		<id property="residentSeq" column="RESIDENT_SEQ"/>
		<result property="residentId" column="RESIDENT_ID"/>
		<result property="residentPwd" column="RESIDENT_PWD"/>
		<result property="residentNm" column="RESIDENT_NM"/>
		<result property="residentPhone" column="RESIDENT_PHONE"/>
		<result property="residentEmail" column="RESIDENT_EMAIL"/>
		<result property="aptDetailInfoSeq" column="APT_DETAIL_INFO_SEQ"/>
		<result property="householdAuthType" column="HOUSEHOLD_AUTH_TYPE"/>
		<result property="residentEnrollDt" column="RESIDENT_ENROLL_DT"/>
		<result property="leaveTf" column="LEAVE_TF"/>
		<result property="aptAuthCd" column="APT_AUTH_CD"/>
		<result property="leaveDt" column="LEAVE_DT"/>
	</resultMap>

	<select id="selectCheckLogin" resultMap="residentVOResultSet" parameterType="ResidentVO">
		SELECT	*
		FROM	RESIDENT
		WHERE	RESIDENT_ID = #{residentId}
		AND		RESIDENT_PWD = #{residentPwd}
		AND		LEAVE_TF = 'N'
	</select>
	 <!-- 암호화된 비밀번호 로그인용(조회용) 메소드 -->
   <select id="selectPwd" parameterType="java.lang.String" resultType="java.lang.String">
	   	SELECT RESIDENT_PWD
	   	FROM RESIDENT
	   	WHERE RESIDENT_ID = #{residentId}
	   	AND LEAVE_TF = 'N'
   </select>
   <!--  비밀번호 일치 시 회원 정보 조회용 메소드 -->
   <select id="selectLoginUser" resultMap="residentVOResultSet" parameterType="ResidentVO">
	   	SELECT *
	   	FROM RESIDENT
	   	WHERE RESIDENT_ID = #{residentId}
	   	AND LEAVE_TF = 'N'
   </select>

	<insert id="insertResident" parameterType="ResidentVO">
      INSERT INTO RESIDENT (RESIDENT_SEQ, RESIDENT_ID,RESIDENT_PWD, RESIDENT_NM,
		RESIDENT_PHONE, RESIDENT_EMAIL, APT_DETAIL_INFO_SEQ, HOUSEHOLD_AUTH_TYPE,
		RESIDENT_ENROLL_DT, LEAVE_TF, APT_AUTH_CD, RESIDENT_BIRTH,
		CONFIRM_TF, RESIDENT_GENDER )
      VALUES(
         RESIDENT_SEQ.NEXTVAL, #{residentId}, #{residentPwd}, #{residentNm}, #{residentPhone}
         , #{residentEmail}, #{aptDetailInfoSeq}, #{householdAuthType}, SYSDATE, DEFAULT
         , DEFAULT, #{residentBirth}, DEFAULT, #{residentGender}
      )
   </insert>



</mapper>
